.rectangle-white-container {
    width: 90%;
    background-color: white;
    border-radius: 64px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Тень */
    padding: 40px 40px; /* Внутренние отступы (10px сверху/снизу, 20px слева/справа) */
    font-family: PlayfairDisplay_Regular;
    font-size: 20px;
    margin: 0 auto;

    p {
        color: #0d504d;

        a {
            color: #0d504d;
            text-decoration: underline;
        }

        a:hover {
            color: #00847e;
        }
    }

    span {
        font-family: PlayfairDisplay_Bold;
        color: #0d504d;
        text-align: start;
        font-size: 20px;

        a {
            text-wrap: nowrap;
        }
    }

    .text-yellow {
        color: #fdb10b;
    }
}

.line-yellow-bottom {
    border-bottom: 70px solid #fdb10b;
}

.map-transport {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    p {
        width: 1260px;
        font-family: PlayfairDisplay_Bold;
        color: #0d504d;
        font-size: 20px;
        display: flex;
        text-align: justify;
    }
}

.width-container {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: auto 100px;
    border-radius: 48px;
}

section {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

@media (max-width: 768px) {
    .map-transport {
        p {
            font-size: 16px;
            width: 90vw;
        }
    }

    .rectangle-white-container {
        width: 320px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 30px;


        span {
            font-size: 18px;
        }
    }
    .width-container {
        margin: 0 auto;
    }
}
