.event-card {
    display: flex;
    flex-direction: row;
    color: #0D504D;
    gap: 40px;
    padding: 0 30px;
    justify-content: center;
    border-bottom: 3px solid #D9D9D9;

    p {
        font-family: Gabriela;
        font-size: 26px;
    }

    figure {
        width: 60%;
        height: 40px;
        background-color: #FDB10B;
    }

    span {
        font-family: PlayfairDisplay_Bold;
        font-size: 18px;
        width: 90%;
    }

    div:nth-child(2) {
        width: 671px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: center;
    }

    a {
        width: 150px;
        background-color: #0d504d;
        color: white;
        font-family: PlayfairDisplay_Bold;
        border: none;
        border-radius: 15px;
        padding: 15px 40px;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    a:hover {
        background-color: #00847E;
    }
}

