footer {
    width: 100%;
    background-color: #d9d9d9;
    color: #0d504d;
    font-family: PlayfairDisplay_Regular;
    font-size: 20px;
    padding: 20px 40px;
    display: flex;
    flex-direction: row;
    gap: 80px;
    margin-top: 60px;

    .footer-content {
        display: flex;
        flex-direction: row;
        gap: 30px;
        align-items: start;

        a:hover {
            color: #0c8b82;
        }
    }

    .footer-info {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-top: 10px;
    }

    p {
        a {
            color: #0c8b82;
            text-decoration: underline;
        }
        a:hover {
            background-color: #7fc7ff;
            opacity: 0.8;
        }
    }

    .column {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: start;

        > div {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: start;
            gap: 10px;
        }
    }

    > div:nth-child(2) {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 350px;
        }
    }
}

@media (max-width: 768px) {
    footer {
        font-size: 10px;
        gap: 0;
        padding: 10px 20px;

        .footer-content {
            display: flex;
            flex-direction: column;
            gap: 10px;

            img {
                width: 40px;
            }

            a {
                font-size: 12px;
            }
        }

        > div:nth-child(1) {
            max-width: 50vw;

            .pank {
                width: 90vw;
            }
        }

        > div:nth-child(2) {
            min-width: 40%;
            img {
                width: 100%;
            }
        }
    }
}

@media (max-width: 540px) {
    footer {
        padding: 10px 10px;

        .footer-content {
            img {
                width: 30px;
            }
        }

        > div:nth-child(2) {
            min-width: 40%;
            img {
                padding-bottom: 100px;
                width: 100%;
            }
        }
    }
}
