header {
    position: relative;
    padding-bottom: 100px;
}

.header-logo {
    position: absolute;
    width: 100vw;
    z-index: -1;
}

.header-logo.mobile {
    display: none;
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Gabriela;
    font-size: 28px;
    padding: 35px 30px;
}

.MobileNav {
    display: none;
}

.head a {
    color: #0d504d;
}

.head a:hover {
    color: #00847e;
}

.head a.active {
    color: #fdb10b;
}

.share-content {
    width: 227px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
    padding: 12px 0;
}

.head-column a {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 15px;
    color: #00847e;
}

.share-content a:hover {
    color: #0d504d;
}

.head-column {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: PlayfairDisplay_Bold;
    font-size: 18px;
}

.share-content button {
    width: 100%;
    height: 50px;
    background-color: #00847e;
    color: white;
    border: none;
    font-family: PlayfairDisplay_Bold;
    font-size: 18px;
    cursor: pointer;
}

.share-content button:hover {
    background-color: #0d504d;
}

.head-column>img {
    padding-bottom: 20px;
}

.head-column .burger-img {
    display: none;
}

.baner-content-index {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 150px;
}

.baner-content-index .icon-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    margin-left: 0;
    /* Начальное смещение */
    transition: margin-left 0.3s ease;
    /* Плавное смещение */
}

.baner-content-index .icon-container:nth-child(1) {
    margin-left: 280px;
}

.baner-content-index .icon-container:nth-child(2) {
    margin-left: 140px;
}

.baner-content-index .icon-container:nth-child(3) {
    margin-left: 10px;
}

.baner-content-index .icon-container:nth-child(4) {
    margin-left: -50px;
}

.baner-content-index .icon-container:nth-child(5) {
    margin-left: -160px;
}

.baner-content-index .icon-container div {
    display: flex;
    flex-direction: column;
}

.icon-container {

    img {
        width: 7vw;
    }

    .text-icon-big {
        font-family: PlayfairDisplay_Bold;
        font-size: 22px;
        color: #0d504d;
    }

    .text-icon-small {
        font-family: PlayfairDisplay_Bold;
        font-size: 20px;
        color: #00847e;
    }
}


.baner {
    display: flex;
    flex-direction: row;
}

.baner-content-placement {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding-left: 180px;
    padding-top: 140px;

    span {
        text-align: center;
        width: 100%;
        font-family: Gabriela;
        font-size: 32px;
        color: #fdb10b;
    }

    .rectangle-white-container {
        width: 90%;
        background-color: white;
        border-radius: 64px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        padding: 40px 40px;
        font-family: PlayfairDisplay_Bold;
        font-size: 24px;

        .icon-container {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding-top: 20px;

            div {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 20px;
                font-family: PlayfairDisplay_ExtraBold;
                color: #0d504d;
                font-size: 22px;
            }
        }

        p {
            color: #0d504d;
            font-size: 20px;
            text-align: justify;

            a {
                color: #fdb10b;
                text-decoration: underline;
            }

            a:hover {
                color: #00847e;
            }
        }

        .account-text {
            font-size: 22px;
        }

        span:not(.review-block span) {
            font-family: PlayfairDisplay_Bold;
            color: #0d504d;
            text-align: start;
            font-size: 20px;

            a {
                text-wrap: nowrap;
            }
        }

        .text-yellow {
            color: #fdb10b !important;
        }

        .text-center {
            display: block;
            text-align: center;
        }

        li {
            color: #0d504d;
            font-size: 20px;
        }

        a:not(.review-block) {
            color: #0d504d;
            text-decoration: underline;
        }

        a:hover:not(.review-block) {
            background-color: #7fc7ff;
            opacity: 0.8;
        }

        >div {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;

            span {
                font-family: PlayfairDisplay_Regular;
                font-size: 18px;
            }
        }

        .Gabriela-text {
            font-family: Gabriela;
        }
    }

    .line-yellow-top {
        border-top: 70px solid #fdb10b;
    }

    .line-yellow-bottom {
        border-bottom: 70px solid #fdb10b;
    }

    .column-gap {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

/* Стиль для затемненного фона */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);

    .modal-content {
        background-color: #00847e;
        margin: 10px auto 0;
        padding: 0 30px 30px 30px;
        width: 90%;
        max-width: 500px;
        border-radius: 10px;
        position: relative;

        .modal-close {
            position: absolute;
            right: 20px;
            top: 20px;
            font-size: 28px;
            cursor: pointer;
            color: #d9d9d9;
        }

        .modal-close:hover {
            color: #0d504d;
        }

        h2,
        h3 {
            color: #fdb10b;
            font-family: Gabriela;
            text-align: center;
            font-weight: 100;
            font-size: 22px;
        }

        h3 {
            margin-top: 15px;
            font-size: 18px;
        }

        >.subtitle {
            display: flex;
            justify-content: center;
            padding-bottom: 10px;

            div {
                width: 50%;
                height: 130px;
                background-color: #d9d9d9;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            img {
                width: 80%;
            }
        }

        .form-group {
            margin-bottom: 15px;
        }

        .form-group label {
            font-family: PlayfairDisplay_Bold;
            display: block;
            margin-bottom: 2px;
            color: white;
            font-size: 16px;
        }

        .form-group input {
            width: 100%;
            padding: 10px;
            border: 3px solid #0d504d;
            border-radius: 15px;
            font-size: 16px;
            font-family: PlayfairDisplay_Regular;
            color: #0d504d;
        }

        .checkbox-group {
            margin: 15px 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
        }

        .checkbox-group label {
            font-size: 10px;
            color: #d9d9d9;
            font-family: Gabriela;

            a {
                color: #fdb10b;
                text-decoration: underline;
            }

            a:hover {
                color: white;
            }
        }

        .submit-btn {
            width: 100%;
            padding: 8px;
            background-color: #0d504d;
            color: white;
            border: none;
            border-radius: 15px;
            font-size: 16px;
            cursor: pointer;
            font-family: PlayfairDisplay_Bold;
            margin-bottom: 10px;
        }

        .submit-btn:hover {
            background-color: #fdb10b;
            color: white;
        }

        a:hover {
            color: white;
        }

        .share-modal {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .share-color {
                color: #c4fbbc;
            }
        }
    }
}

.modal.error {
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 99;
}

.registration-form button[type='button'] {
    border: none;
    background: none;
    font-family: PlayfairDisplay_Bold;
    color: #fdb10b;
    text-decoration: underline;
    font-size: 12px;
    cursor: pointer;
}

.registration-form button[type='button']:hover {
    color: #0d504d;
}

.registration-form span {
    color: #D9D9D9;
    font-family: Gabriela;
    font-size: 12px;
}

.button-center {
    display: flex;
    justify-content: center;
}

hr {
    border: none;
    border-top: 2px solid #D9D9D9;
    margin: 20px 0;
}

.share-content {
    a {
        color: #0d504d;
    }

    a:hover {
        color: #fdb10b;
    }

    div:nth-child() {
        display: flex;
        flex-direction: row;
    }
}

.account-content {
    display: flex;
    flex-direction: column !important;
    gap: 20px;

    .account-baner {
        border-radius: 34px;
    }

    .registration-form {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;

        >div {
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 10px;

        }

        #name {
            width: 100%;
        }

        #email {
            width: 85%;
        }

        #sex {
            width: 15%;
        }

        #phone {
            width: 70%;
        }

        #date {
            width: 30%;
        }

        .form-group input,
        select {
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        }

        select {
            width: 40%;
            padding: 10px;
            border: 3px solid #0d504d;
            border-radius: 15px;
            font-size: 16px;
            font-family: PlayfairDisplay_Regular;
            color: #0d504d;
            cursor: pointer;
        }

        select:focus {
            outline: none;
            border-color: #4a90e2;
            box-shadow: 0 0 0 2px rgba(74, 144, 226, 0.2);
        }

        .form-button {
            height: 50px;
        }
    }
}

.top-none {
    gap: 30px;
}

@media (max-width: 768px) {
    header {
        padding-bottom: 40px;
    }

    .header-logo.mobile {
        display: block;
    }

    .header-logo.desktop {
        display: none;
    }

    .head {
        display: none;
    }

    .share-content {
        display: none;
    }

    .baner {
        flex-direction: column;
    }

    .baner-content-index .icon-container {
        margin-left: 0 !important;
        width: 80%;

        img {
            width: 80px;
        }

        .text-icon-big {
            font-size: 24px;
        }

        .text-icon-small {
            font-size: 20px;
        }
    }

    .baner-content-index {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding-top: 50px;
        gap: 20px;
    }

    .head-column .burger-img {
        display: block;
        height: 60px;
    }

    .logo-wrapper a {
        display: flex;
        justify-content: end;
    }

    .MobileNav {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 80vw;
        top: 0;
        left: 0;
        border-bottom-right-radius: 70px;
        background-color: white;
        color: #fdb10b;

        >a {
            color: #fdb10b;
            font-family: Gabriela;
            padding: 15px 30px;
        }

        a.active {
            background-color: #0d504d;
            padding: 30px;
        }
    }

    .MobileNav .share-content {
        display: flex;
        gap: 10px;
    }

    .burger-footer>img {
        width: 45%;
    }

    .burger-footer {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
        padding: 0 30px;
        gap: 25px;
    }

    .share-content a {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        width: 200px;
        font-family: PlayfairDisplay_Bold;
        font-size: 16px;
    }

    .head-column .logo-wrapper {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
        width: 88vw;
        padding-top: 30px;
    }

    .head-column {
        background-image: url("/img/background-mobile.svg");
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 120px;
    }

    .head-column .logo {
        width: 60%;
    }

    .mobile-rectangle-black {
        display: none;
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .baner-content-placement {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 0;
        gap: 30px;

        .rectangle-white-container {
            width: 100%;
            font-size: 20px;
        }
    }

    .account-content {
        gap: 15px;

        .registration-form {
            width: 100%;
            padding: 10px 0;

            div {
                gap: 15px !important;
            }

            .form-group {
                margin-bottom: 10px;

                input,
                select {
                    font-size: 16px;
                }
            }
        }
    }
}

@media (max-width: 550px) {
    .burger-footer>img {
        display: none;
    }
}
