.web-content {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    padding: 0 50px;

    > div {
        width: 100%;
    }
}

.certificate-block {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 45px;

    > div {
        width: 65%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px 0;
    }

    img {
        width: 100%;
    }
}

.slider {
    padding-bottom: 100px;
}

.gallery-button {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;

    > div {
        max-width: 900px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
        overflow-y: scroll;
        scrollbar-width: 0;
        -ms-overflow-style: none;
    }

    > div::-webkit-scrollbar {
        display: none;
    }

    a {
        background-color: #0d504d;
        color: white;
        font-family: PlayfairDisplay_Bold;
        border-radius: 25px;
        cursor: pointer;
        padding: 8px 15px;
    }

    a:hover {
        background-color: #0c8b82;
    }
}

aside {
    width: 384px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: Gabriela;
    font-size: 20px;

    > * {
        width: 100%;
        background-color: white;
        border: 5px solid #0c8b82;
        border-radius: 30px;
        text-align: center;
        padding: 25px 15px;
    }

    h1 {
        color: #fdb10b;
        font-family: Gabriela;
        text-transform: uppercase;
        font-weight: normal;
        margin: 0;
    }

    .alert {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    figure {
        width: 100%;
        height: 35px;
        background-color: #fdb10b;
        margin: 0 10px 0 0;
    }

    .review-block {
        display: grid;
        grid-template-areas:
            "div1 div2"
            "div1 div3";
        grid-template-columns: 60px 1fr;
        column-gap: 5px;
        color: #0d504d;
        padding-top: 10px;
        > *:nth-child(1) {
            grid-area: div1;
            width: 100%;
        }
        > *:nth-child(2) {
            grid-area: div2;
            display: flex;
            flex-direction: row;
            gap: 5px;
        }
        > *:nth-child(3) {
            grid-area: div3;
            text-align: start;
            padding-bottom: 7px;
            color: inherit;
        }

        h1 {
            color: #0d504d;
            font-family: Gabriela;
        }
    }

    .review-block:hover {
        color: #fdb10b;
    }

    .new-card {
        border-bottom: 3px solid #d9d9d9;
        padding-bottom: 15px;
        padding-top: 15px;
    }
}
aside.mobail {
    display: none;
}

@media (max-width: 768px) {
    .certificate-block {
        > div {
            width: 100%;
        }
    }

    aside {
        padding: 50px;
        width: 100%;
    }
}
