@font-face {
    font-family: fontawesome;
    src: url(/font/fontawesome.ttf);
}

@font-face {
    font-family: PlayfairDisplay_Regular;
    src: url(/font/Playfair_Display/static/PlayfairDisplay-Regular.ttf);
}

@font-face {
    font-family: PlayfairDisplay_Bold;
    src: url(/font/Playfair_Display/static/PlayfairDisplay-Bold.ttf);
}

@font-face {
    font-family: PlayfairDisplay_ExtraBold;
    src: url(/font/Playfair_Display/static/PlayfairDisplay-ExtraBold.ttf);
}

@font-face {
    font-family: PlayfairDisplay_Black;
    src: url(/font/Playfair_Display/static/PlayfairDisplay-Black.ttf);
}

@font-face {
    font-family: Gabriela;
    src: url(/font/Gabriela/Gabriela-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    box-sizing: border-box;
}

body {
    background-color: #c4fbbc;
    margin: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.six {
    padding: 0 50px 20px;
    text-align: center;
}

.six p {
    font-family: Gabriela;
    color: #0d504d;
    text-transform: uppercase;
    font-size: 32px;
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0.4em 1em 0.55em;
}

.six p span {
    display: flex;
    align-items: center; /* Выравниваем текст по центру относительно картинки */
    gap: 10px; /* Добавляем расстояние между картинкой и текстом */
}

.six p:before,
.six p:after {
    content: "";
    position: absolute;
    width: 60%;
    height: 0.1em;
    background: #fdb10b;
}

.six p:before {
    left: 0;
    top: 0;
}

.six p:after {
    right: 0;
    bottom: 0;
}

.six p span:before,
.six p span:after {
    content: "";
    position: absolute;
    width: 0.65em;
    height: 0.65em;
    border: 0.1em solid #fdb10b;
    border-radius: 50%;
    box-sizing: border-box;
}

.six p span:before {
    top: -0.55em;
    left: -0.325em;
}

.six p span:after {
    bottom: -0.55em;
    right: -0.325em;
}

.Playfair_Bold_24 {
    font-family: PlayfairDisplay_Bold;
    font-size: 20px;
    color: #0d504d;

    > span {
        color: #fdb10b;
        font-size: 22px;
    }
}

.row {
    display: flex;
    flex-direction: row;
}

.card {
    width: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    transform: scale(0.8);

    a {
        width: 100%;
        text-decoration: underline;
        font-family: PlayfairDisplay_Regular;
        font-size: 16px;
        color: #0d504d;
        text-align: end;
        margin-top: -15px;
        margin-right: 25px;
    }

    > img {
        width: 100%;
    }
    > div:nth-child(2) {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;

        div {
            background-color: white;
            border-radius: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            font-family: Gabriela;
            color: #fdb10b;
            font-size: 24px;
            gap: 15px;
            padding: 5px 15px;
        }
    }

    > div:nth-child(3) {
        font-family: PlayfairDisplay_Regular;
        color: #0d504d;
        font-size: 18px;
        text-align: center;
        border-bottom: 2px solid #0d504d;
        border-top: 2px solid #0d504d;
        padding: 15px 25px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;

        button {
            background-color: #fdb10b;
            font-family: PlayfairDisplay_Black;
            border: none;
            border-radius: 22px;
            padding: 16px 18px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            cursor: pointer;
        }
        button:hover {
            background-color: #0d504d;
            color: #d9d9d9;
        }
    }
}

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .slide_button {
        border: none;
        background: none;
        position: relative;
        display: inline-block;

        img {
            width: 60px;
            height: auto;
            transition: opacity 0.3s ease-in-out;
        }
        img:nth-child(2) {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
        }
    }

    .slide_button:hover img:nth-child(2) {
        opacity: 1;
    }

    .slide_button:hover img:nth-child(1) {
        opacity: 0;
    }
}

@media (max-width: 768px) {
    .six p {
        font-size: 2em;
    }
}
