.baner-content-placement.new-padding {
    padding-left: 110px;

    .new-baner {
        display: flex;
        align-items: center;
        flex-direction: row;
        padding: 0 30px;

        span {
            display: flex;
            text-align: start;
            font-family: PlayfairDisplay_Regular;
            color: #0d504d;
            font-size: 24px;
        }
    }
}

.new-wrapper {
    width: 100%;
    padding: 130px 30px 30px 30px;
}

.gallery-button {
    div {
        text-align: center;
        a {
            background-color: #0d504d;
            color: white;
            font-family: PlayfairDisplay_Regular;
            border-radius: 40px;
            cursor: pointer;
            padding: 8px 15px;
        }

        a:hover {
            background-color: #fdb10b;
        }
    }
}

.news-paragraphs {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 100px;

    >.rectangle-white-container:not(:first-child) {
        border-bottom: 70px solid #fdb10b;
    }
}

.rectangle-white-container {
    width: 90%;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Тень */
    padding: 30px 40px; /* Внутренние отступы (10px сверху/снизу, 20px слева/справа) */
    font-family: PlayfairDisplay;
    font-size: 16px;
    color: #0d504d;
    margin-top: 20px;
    margin-bottom: 40px;
}

.new-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;

    a{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;

        background-color: #0d504d;
        color: white;
        font-family: PlayfairDisplay_Bold;
        border-radius: 25px;
        cursor: pointer;
        padding: 8px 15px;
        max-width: 40%;
    }
    a:hover {
        background-color: #0c8b82;
    }
}

@media (min-width: 768px) {
    .new-wrapper .new-card {
        flex-direction: row;
        gap: 50px;

        figure {
            width: 25%;
        }

        > div:nth-child(2) {
            justify-content: center;
        }

        span {
            max-width: 55%; /* убрать, если будет не красиво*/
            padding: 0 0 20px 0;
        }

        h1 {
            padding: 20px 0 0 0;
        }

        img {
            width: 25vw;
        }
    }
}

@media (max-width: 768px) {
    header {
        padding-bottom: 30px !important;
    }

    .baner-content-placement.new-padding {
        padding-left: 0;
        padding-right: 0;
    }

    .new-baner {
        display: none !important;
    }

    .new-wrapper {
        padding: 0 30px 30px 30px;
    }
}
