.reservation {
    width: 100%;
    height: 100px;
    background-color: #0D504D;

    span {
        color: #FFAE00;
        font-family: Gabriela;
        font-size: 24px;
    }
}

.card-placement {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    padding-top: 50px;

    .card {
        height: auto;
    }
}

@media (max-width: 768px) {
    .card-placement {
        flex-direction: column;
        align-items: center;
    }
}
