.service-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    row-gap: 60px;
    column-gap: 20px;
}

@media (max-width: 768px) {
    .service-container {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}
